<!DOCTYPE html>
<html>
  <head>
    <title>Amal's Web App</title>
  </head>
  
  <body>
    <h1>AMALLY!!</h1>
    
    <form method="post" action='/Amal'>
      What's going on? <br>
      <input type="text" name="Amal">
      <input type="submit" value="AMALLY">
    </form>
    
  </body> 
  
</html>















<!-- 
 <form method="post" action="/other_side">
  First name:<br>
  <input type="text" name="firstname" value="John"><br>
  <input type="submit" value="Submit">
</form> -->